@model DuAnTotNghiep.Models.DonHang

@{
    ViewData["Title"] = "Details";
}

<h1>Chi tiết đơn hàng</h1>

<div>
    <h4>DonHang</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DonHangId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonHangId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KhachHangId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KhachHangId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayDat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayDat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TongTien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TongTien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThaiDonHang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThaiDonHang)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-primary">Danh sách đơn hàng</a>
</div>
