@model IEnumerable<DuAnTotNghiep.Models.DonHang>

@{
    ViewData["Title"] = "Index";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KhachHang.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KhachHang.EmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KhachHang.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayDat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TongTien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThaiDonHang)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KhachHang.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KhachHang.EmailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KhachHang.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayDat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TongTien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThaiDonHang)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.DonHangId" class="btn btn-danger" style="width: 43px;"><i class="fas fa-info"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
