@model DuAnTotNghiep.Models.SanPham

@{
    ViewData["Title"] = "Details";
}

<h1>Chi tiết sản phẩm</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SanPhamId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SanPhamId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhanLoai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhanLoai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HinhAnh)
        </dt>
        <dd class = "col-sm-10">
            <img src="~/Images/hinhanh/@Model.HinhAnh" style="width: 200px" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SanPhamId" class="btn btn-primary">Sửa</a>
    <a asp-action="Index" class="btn btn-primary">Danh sách sản phẩm</a>
</div>
