@model IEnumerable<DuAnTotNghiep.Models.SanPham>

@{
    ViewData["Title"] = "Index";
}

<div style="text-align: center;">
    @using (Html.BeginForm("Index", "SanPham", FormMethod.Get))
    {
        @Html.TextBox("search")<input type="submit" value="Tìm kiếm" name="submit" />
    }
</div>

<p>
    <a asp-action="Create" class="btn btn-danger"><i class="fas fa-plus"></i></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhanLoai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HinhAnh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhanLoai)
                </td>
                <td>
                    <img src="~/Images/hinhanh/@item.HinhAnh" style="width: 150px" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mota)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrangThai)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.SanPhamId" class="btn btn-danger w-47"><i class="far fa-edit"></i></a>
                    <a asp-action="Details" asp-route-id="@item.SanPhamId" class="btn btn-danger" style="width: 43px;"><i class="fas fa-info"></i></a>
                </td>
            </tr>
        }
    </tbody>
    @if (Model.Count() == 0)
    {
        <tr>
            <td colspan="3">Không tìm thấy sản phẩm này!</td>
        </tr>
    }
</table>
