@model DuAnTotNghiep.Models.NhanVien
@using Microsoft.AspNetCore.Http;
@using DuAnTotNghiep.Constant;
@{ string role = Context.Session.GetString(SessionKey.NhanVien.Role); }

@{
    ViewData["Title"] = "Details";
}

<h1>Chi tiết nhân viên</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NhanVienId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NhanVienId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TenChucVu)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TenChucVu)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NgaySinh)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Role)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
    </dl>
</div>
<div>
    @if (role == "True")
    {
        <a asp-action="Edit" asp-route-id="@Model.NhanVienId" class="btn btn-primary">Sửa</a>
    }
    <a asp-action="Index" class="btn btn-primary">Danh sách nhân viên</a>
</div>
