@model IEnumerable<DuAnTotNghiep.Models.NhanVien>
@using Microsoft.AspNetCore.Http;
@using DuAnTotNghiep.Constant;
@{ string role = Context.Session.GetString(SessionKey.NhanVien.Role); }

@{
    ViewData["Title"] = "Index";
}
@if (role == "True")
{
    <a asp-action="Create" class="btn btn-primary">Tạo nhân viên</a>
}
<br /><br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenChucVu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgaySinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SuDung)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenChucVu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgaySinh)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Role)*@
                    @if (item.Role)
                    {
                        <span>Quan tri vien</span>
                    }
                    else
                    {
                        <span>Nhan vien</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SuDung)
                </td>
                <td>
                    @if (role == "True")
                    {
                        <a asp-action="Edit" asp-route-id="@item.NhanVienId" class="btn btn-primary">Sửa</a>
                    }
                    <a asp-action="Details" asp-route-id="@item.NhanVienId" class="btn btn-primary">Chi tiết</a>
                </td>
            </tr>
        }
    </tbody>
</table>

