@model IEnumerable<DuAnTotNghiep.Models.NhanVien>
@using Microsoft.AspNetCore.Http;
@using DuAnTotNghiep.Constant;
@{ string role = Context.Session.GetString(SessionKey.NhanVien.Role); }

@{
    ViewData["Title"] = "Index";
}

<div style="text-align: center;">
    @using (Html.BeginForm("Index", "NhanVien", FormMethod.Get))
    {
        <b> Tìm kiếm theo: &nbsp; </b>@Html.RadioButton("seachBy", "UserName")<text>Tài khoản &nbsp;&nbsp;</text>
        @Html.RadioButton("seachBy", "FullName")<text>Họ và tên &nbsp; &nbsp;</text>
        @Html.RadioButton("seachBy", "Email")<text>Email</text><br /><br />
        @Html.TextBox("search")<input type="submit" value="Tìm kiếm" name="submit" />
    }
</div>

@if (role == "True")
{
    <a asp-action="Create" class="btn btn-success"><i class="fas fa-plus"></i></a>
}
<br />
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().TenChucVu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().NgaySinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().TrangThai)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenChucVu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgaySinh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                    @*@if (item.Role)
                        {
                            <span>Quản trị viên</span>
                        }
                        else
                        {
                            <span>Nhân viên</span>
                        }*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrangThai)
                </td>
                <td>
                    @if (role == "True")
                    {
                        <a asp-action="Edit" asp-route-id="@item.NhanVienId" class="btn btn-warning"><i class="far fa-edit"></i></a>
                    }
                    <a asp-action="Details" asp-route-id="@item.NhanVienId" class="btn btn-success" style="width: 50px;"><i class="fas fa-info"></i></a>
                </td>
            </tr>
        }
    </tbody>
    @if (Model.Count() == 0)
    {
        <tr>
            <td colspan="3">Không tìm thấy nhân viên!</td>
        </tr>
    }
</table>