@model DuAnTotNghiep.Models.DonHang

@{
    ViewData["Title"] = "ChiTietDonHang";
}

<h1>Chi tiết đơn hàng</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KhachHang.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KhachHang.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KhachHang.EmailAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KhachHang.EmailAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KhachHang.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KhachHang.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NgayDat)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NgayDat)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TongTien)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TongTien)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThaiDonHang)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TrangThaiDonHang)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="History" class="btn btn-primary">Trở về</a>
</div>
