@model IEnumerable<DuAnTotNghiep.Models.DonHang>

@{
    Layout = "~/Views/Shared/_WebLayout.cshtml";
    ViewData["Title"] = "History";
}

<h1>Đơn hàng</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NgayDat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TongTien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThaiDonHang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KhachHang)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NgayDat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TongTien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThaiDonHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KhachHang.FullName) - 
                @Html.DisplayFor(modelItem => item.KhachHang.EmailAddress)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.DonHangId" class="btn btn-primary">Chi tiết</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a asp-action="Index" class="btn btn-primary">Trở về trang chủ</a>
</div>
